In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_movie = pd.read_csv('IMDb Movies India.csv', sep=',', engine='python', encoding='latin-1')
df_movie.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),-2019.0,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,-2021.0,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,-2019.0,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,-2010.0,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [3]:
df_movie.shape

(15509, 10)

In [4]:
df_movie.columns

Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')

In [5]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  float64
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.2+ MB

In [7]:
def missing_values_percent(dataframe):
    missing_values = dataframe.isna().sum()
    percentage_missing = (missing_values / len(dataframe) * 100).round(2)
    result_movie = pd.DataFrame({'Missing Values': missing_values, 'Percentage': percentage_missing})
    result_movie['Percentage'] = result_movie['Percentage'].astype(str) + '%'
    return result_movie

result = missing_values_percent(df_movie)
result

          Missing Values Percentage
Name                   0       0.0%
Year                 528       3.4%
Duration            8269     53.32%
Genre               1877      12.1%
Rating              7590     48.94%
Votes               7589     48.93%
Director             525      3.39%
Actor 1             1617     10.43%
Actor 2             2384     15.37%
Actor 3             3144     20.27%

In [8]:
df_movie.drop(['Actor 2', 'Actor 3'], axis=1, inplace=True)
df_movie.dropna(subset=['Duration'], inplace=True)
df_movie = df_movie[df_movie.isnull().sum(axis=1).sort_values(ascending = False) <=5]
missing_values_percent(df_movie)

C:\Users\user\AppData\Local\Temp\ipykernel_2952\1562061460.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_movie = df_movie[df_movie.isnull().sum(axis=1).sort_values(ascending = False) <=5]

          Missing Values Percentage
Name                   0       0.0%
Year                 125      1.73%
Duration               0       0.0%
Genre                187      2.58%
Rating              1389     19.19%
Votes               1389     19.19%
Director              14      0.19%
Actor 1              264      3.65%

In [11]:
df_movie.dropna(subset=['Rating', 'Votes'], inplace=True)
director_description = df_movie['Director'].describe()
director_counts = df_movie['Director'].value_counts().sort_values(ascending = False)
df_movie['Director'].fillna('Rajmouli', inplace=True)
genre_counts = df_movie['Genre'].value_counts().sort_values(ascending = False)
df_movie['Genre'].fillna('Action', inplace=True)
actor1_description = df_movie['Actor 1'].describe()
df_movie['Actor 1'].fillna('Mahesh Babu', inplace=True)
missing_values_df = pd.DataFrame({
    'Missing Values': df_movie.isnull().sum(),
    'Percentage': (df_movie.isnull().sum() / len(df_movie) * 100).round(2)
})
df_movie.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1
1,#Gadhvi (He thought he was Gandhi),-2019.0,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal
3,#Yaaram,-2019.0,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik
5,...Aur Pyaar Ho Gaya,-1997.0,147 min,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol
6,...Yahaan,-2005.0,142 min,"Drama, Romance, War",7.4,"1,086",Shoojit Sircar,Jimmy Sheirgill
8,?: A Question Mark,-2012.0,82 min,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave

In [12]:
missing_values_percent(df_movie)

          Missing Values Percentage
Name                   0       0.0%
Year                   0       0.0%
Duration               0       0.0%
Genre                  0       0.0%
Rating                 0       0.0%
Votes                  0       0.0%
Director               0       0.0%
Actor 1                0       0.0%

In [ ]:
df_movie['Year'] = df_movie['Year'].astype(str).str.replace(r'[()]', '', regex = True)
df_movie['Duration'] = df_movie['Duration'].str.replace(r' min', '', regex = True)
df_movie.info()